* {
  margin: 0;
  padding: 0;
}

.testimonials {
  padding: 0;
  margin-top: 3em;
}

.testimonials h1 {
  color: #fafafa;
  text-align: center;
}

/* Style the container with a rounded border, grey background and some padding and margin */
.container-testimonials {
  background-color:  #2b2b2b;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 3em;
}

/* Clear floats after containers */
.container-testimonials::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container-testimonials img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.container-testimonials span {
 font-weight: bold; 
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 700px) {
  .container-testimonials {
    text-align: center;
    margin: 16px 0;
  }

  .container-testimonials img {
    margin: auto;
    float: none;
    display: block;
  }
} 



/*Arror*/

#arrowAnim {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 5vw;
  height: 5vw;
  border: 2.5vw solid;
  border-color: black transparent transparent black;
  transform: rotate(-135deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite; 
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translatey(-15vw); }	
   20% { opacity:1; transform: translatey(-9vw); }	
   80% { opacity:1; transform: translatey(9vw); }	
  100% { opacity:0; transform: translatey(15vw); }	
}
@keyframes slide {
    0% { opacity:0; transform: translatey(-15vw); }	
   20% { opacity:1; transform: translatey(-9vw); }	
   80% { opacity:1; transform: translatey(9vw); }	
  100% { opacity:0; transform: translatey(15vw); }	
}